/*typewriter effect on header*/
.typed-out {
    overflow-x: hidden; /*make sure the text content isn’t revealed until the typing effect has started.*/
    border-right: .15em solid orange; /*create the typewriter cursor.*/
    font-size: calc(1.375rem + 1.5vw);
    width: 0; /*make sure the text content isn’t revealed until the typing effect has started.*/
    animation: 
    typing 2s steps(20, end) forwards;
  }

  .typewriter {
    display: inline-block;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
/*end typewriter effect*/


#header {
    font-family:'Courier New', Courier, monospace;
    color: black;
    overflow: auto;

}

p {
    font-family:'Courier New', Courier, monospace;
    color: black;
}

button {
    border: none;
    background-color: pink;
    color: white;
}

#recbutton {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 5px;  
    margin-top: 40px;
    font-family:'Courier New', Courier, monospace;
}

#circlebutton {
    height: 80px;
    line-height: 80px;  
    width: 80px;  
    font-size: 1.5em;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}

.resetbutton {
    height: 80px;
    line-height: 80px;  
    width: 80px;  
    font-size: 1em;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}